@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
                <div class="text-center">
                    <h2 class="card-title">Registration Successful</h2>
                    <a href="@Url.Action("Login", "Auth")" class="btn btn-primary">Ok</a>
                </div>
            </div>
      </div>
</div>